.magic-box {
  content:'';
  width:100%;
  height:100px;
  background:green;
  -webkit-transition: all 0.7s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.7s ease-out;  /* Firefox 4-15 */
  -o-transition: all 0.7s ease-out;  /* Opera 10.50–12.00 */
  transition: all 0.7s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

  position:fixed;
  top:100px;

}
.space {
  background: url(http://images.fanpop.com/images/image_uploads/Space-space-584336_1600_1200.jpg);
}
.beer {
  background: url(http://www.culinaryphoto.com/data/photos/42_1beer4.jpg);
}

#myCarousel {
  height:500px;
  color:white;

  .item {
    padding-top: 50px;
    height:450px;

  }
}

.first {
  min-height:100px;
}
.second {
  min-height:200px;
}

.green {
  background:green;
}
.pink {
  background:pink;
}
.border {
  //border: 1px dashed rgba(0,0,0,0.3);
}

@media all and (max-width: 640px) {
  .magic-box {
    background: red;
  }
}

@media all and (min-width: 1000px) {
  .magic-box {
    position:fixed;
    top:500px;
    background: yellow;
  }
}