.magic-box {
  content:'';
  width:100%;
  height:100px;
  background:green;
  -webkit-transition: all 0.7s ease-out;  /* Chrome 1-25, Safari 3.2+ */
  -moz-transition: all 0.7s ease-out;  /* Firefox 4-15 */
  -o-transition: all 0.7s ease-out;  /* Opera 10.50–12.00 */
  transition: all 0.7s ease-out;  /* Chrome 26, Firefox 16+, IE 10+, Opera 12.10+ */

  position:fixed;
  top:100px;

}

@media all and (max-width: 640px) {
  .magic-box {
    background: red;
  }
}

@media all and (min-width: 1000px) {
  .magic-box {
    position:fixed;
    top:500px;
    background: yellow;
  }
}